<manifest package="com.goblinai.app">
    <application
        android:label="GoblinAI"
        android:theme="@style/Theme.GoblinAI">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
